html, body{
	overflow: hidden;
}

.page-wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	background-color: #A31D21;
}

.main-content {
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
	width: 80%;
	height: 100%;
	
	-moz-box-flex: 1;
	
	background-color: white;
}

.main-nav {
	-webkit-box-ordinal-group: 1;
	-mox-box-ordinal-group: 1;
	-ms-flex-order: 1;
	-order: 1;
	
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width: 20%;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: #A34649;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

iframe{
	width: 100%;
	height: 100%;
	border-style: none;
}
a{
	text-decoration: none;
	color:black;
}
a:link{
	color:black;
}
a:visited{
	color:black;
}